body, p, h1, ul, li {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Quicksand', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
    border-radius: 5px;
}

.estrutura {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas: 
    "header header header"
    "content content content"
    "anuncios anuncios anuncios"
    "footer footer footer";
}

.header {
    grid-area: header;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.logo {
    width: 80px;
    margin: 30px 50px 30px 50px;
    background: white;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.header li {
    width: 100px;
    margin: 30px 0px;
    
}

.header li a {
    font-size: 18px;
    color: #FF2B5C;
    position: relative;
    overflow: hidden;

    box-shadow: 0px 0px 0 #FF2B5C,
                0px 0px 0 #FF2B5C;
    transition: all .2s ease-in-out;
}

.header li a:hover {
    box-shadow: 6px 6px 0.5px #FF2B5C, 
                -6px -6px 0.5px #FF2B5C;
    letter-spacing: 1.5px;
    border: 1px solid transparent;
}

 @media (max-width: 760px) {
    .header {
        /* background-color: violet; */
    }

    .header ul {
        display: flex;
        flex-wrap: wrap;

    }

    .header li {
        min-width: 260px;
        margin: 10px auto;
    }
    .header li:last-child {
        padding-bottom: 20px;
    }
 }

.btn {
    width: 150px;
    height: 50px;
    font-size: 17px;
    color: white;
    background: linear-gradient(135deg, #FF2B5C, #665C78);
    border: none;
    border-radius: 3px;
    transition: all .2s ease-in-out;
}

.header .btn {
    margin: 0 30px 30px 50px;
}


.btn:hover {
    letter-spacing: .5px;
    color: #FBD01C;
}

.content {
    grid-area: content;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 760px) {
    .content {
        margin: 0px 50px;
    }
}

.content h1 {
    font-size: 37px;
    margin-bottom: 30px;
    color: #FF2B5C;
}

.content p {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: 1.5;
    color: #574C68;
}

.content img {
    max-width: 500px;
}

/* @media (max-width: 760px) {
    .content img {
        width: 60%
    }
} */

.info {
    max-width: 650px;
}



.anuncios-container {
    grid-area: anuncios;
    background: linear-gradient(135deg, #FF2B5C, #665C78);
    padding: 0 50px;
    flex-wrap: wrap;
}

.anuncios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.anuncios a {
    margin: 30px auto;
}

.footer {
    grid-area: footer;
    background: white;
    display: grid;
    grid-template-columns: repeat(3, 50px) 1fr;
    margin: 30px 50px;
}

.footer img {
    max-width: 30px;
    padding-right: 30px;
    color: black;
}

.footer p {
    
    color: #FF2B5C;
    align-self: center;
    justify-self: right;
}

